<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->

<head>
  <title>Index Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
  <!-- Top Background Image Wrapper -->
  <div class="bgded overlay" style="background-image:url('images/indexbg.png');">
    <div class="wrapper row0">
      <div id="topbar" class="hoc clear">

        <div class="fl_right">
          <ul class="nospace">

            <li id="searchform">
              <div>
                <form action="search" method="get">
                  <fieldset>
                    <legend>Quick Search:</legend>
                    <input type="text" placeholder="Enter search term&hellip;">
                    <button type="submit"><i class="fas fa-search"></i></button>
                  </fieldset>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
          <h1><a href="index.html">AVODHA SHOPPING</a></h1>
        </div>
        <nav id="mainav" class="fl_right">
          <ul class="clear">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a class="drop" href="#">Pages</a></li>

          </ul>
        </nav>
      </header>
    </div>
    <div id="pageintro" class="hoc clear">
      <article>
        <h3 class="heading">QUALITY MERCHANDISE</h3>
        <p>Register with us and have quality products delivered at your door step.</p>
        <footer>

        </footer>
      </article>
    </div>
  </div>

  <div class="wrapper row3">
    <main class="hoc container clear">

      <section id="introblocks">
        <ul class="nospace group btmspace-80">
          <li class="one_third">
            <figure><a class="imgover" href="#"><img src="images/indexbg.png" alt=""></a>
              <figcaption>
                <h6 class="heading">Libero sodales</h6>
                <p>Nec tincidunt maximus ex orci sollicitudin metus ut lacinia ligula nisi vel neque sed non quam
                  eleifend.</p>
              </figcaption>
            </figure>
          </li>






        </ul>
      </section>
      <hr class="btmspace-80">

      <div class="clear"></div>
    </main>
  </div>

  </div>

  <script src="hm/layout/scripts/jquery.min.js"></script>
  <script src="hm/layout/scripts/jquery.backtotop.js"></script>
  <script src="hm/layout/scripts/jquery.mobilemenu.js"></script>
</body>

</html>